<!DOCTYPE html>
<html xmlns:th = "http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>新規会員登録</title>
<style>
	body{
	width: 500px; 
	margin: 0 auto;
}
   
</style>
</head>
<body>
	<h1>新規会員登録</h1>
	<ul th:if="${err}">
    <li th:text="${err}"></li>
    </ul>
	<form action="/task/cre" method="post">
	<table border="1">
		<tr>
			<th>名前</th>
			<td><input type="text" name="name"></td>
		</tr>
		<tr>
			<th>ID(数字のみ)</th>
			<td><input type="number" name="id"></td>
		</tr>
		<tr>
			<th>パスワード</th>
			<td><input type="text" name="password"></td>
		</tr>
		
	</table>
	<br>
	<button>登録</button>
	</form>
	

</body>
</html>