<!DOCTYPE html>
<html xmlns:th = "http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>ログイン</title>
<style>
	body{
	width: 500px; 
	margin: 0 auto;
}
   
</style>
</head>
<body>
	<h1>ログイン</h1>
	<ul th:if="${err}">
	       <li th:text="${err}"></li>
	   </ul>
	<form action ="/task/top" method="post">
	<table border="1">
			<tr>
				<th>名前</th> 
				<td><input type="text" name="name" th:value="${name}"></td>
			</tr>
			<tr>
				<th>パスワード</th>
				<td><input type="text" name="password" th:value="${password}"></td>
			</tr>
			
		</table><br>
	
		<button>ログイン</button>
		</form>
	

</body>
</html>