<!DOCTYPE html>
<html xmlns:th = "http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>ログイン</title>

<link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
	<h1>ログイン</h1>
	<ul th:each="err:${errList}">
	       <li th:text="${err}"></li>
	   </ul>
	<form action ="/task/top" method="post">
	<table border="1">
			<tr>
				<th>名前</th> 
				<td><input type="text" name="name" th:value="${name}"></td>
			</tr>
			<tr>
				<th>パスワード</th>
				<td><input type="password" name="password" th:value="${password}"></td>
			</tr>
			
		</table><br>
	
		<button class="button1">ログイン</button>
		</form>
	

</body>
</html>