<!DOCTYPE html>
<html xmlns:th = "http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>詳細</title>

<link rel="stylesheet" th:href="@{/css/style.css}">

</head>
<body>
	<h1>詳細</h1>
	<ul th:each="low : ${lowList}">
		   <li th:text="${low}"></li>
		</ul><br>
	
	<table border="1">
	<tr>
		<th>No</th>
		<td th:text="${task.id}" style="text-align: right;"></td>
	</tr>
	<tr>
		<th>運動内容</th>
		<td th:text="${task.content}"></td>
	</tr>
	<tr>
		<th>頑張り度(%)</th>
		<td th:text="|${task.ganbari}%|" style="text-align: right;"></td>
	</tr>
	
	
	<tr class="ex">
		<th>メモ</th>
		<td th:text="${task.memo}"></td>
	</tr>
	
	</table><br>
	
	<a href="/task">戻る</a>
</body>
</html>