<!DOCTYPE html>
<html xmlns:th = "http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>更新</title>

<link rel="stylesheet" th:href="@{/css/style.css}">

</head>
<body>
	<h1>更新</h1>
	
	<ul th:each="err:${errList}">
		<li th:text="${err}"></li>
	</ul>
	
	<form th:action="@{/task/{id}/updatecom(id=${task.id})}" method="post">
	<table border="1">	
	<tr>
		<th>No</th>
		<td  th:text="${task.id}"></td>
	</tr>
	<tr>
		<th>運動内容</th>
		<td><input type="text" name="content" th:value="${task.content}"></td>
	</tr>
	<tr>
		<th>頑張り度(%)</th>
		<td><input type="number" style="width: 20%;" name="ganbari" th:value="${task.ganbari}"></td>
	</tr>
	
	<tr>
		<th>メモ</th>
		<td><textarea rows="5" cols="30" name="memo" th:text="${task.memo}"></textarea></td>
	</tr>
	
	</table><br>
	<button class="button4">更新</button>
	</form><br>
	<a href="/task">戻る</a>
</body>
</html>